@import "~bootstrap/scss/bootstrap";

.App{
    background-color: #d5d8d8;
    height: 100vh;
    width: auto;
}

Switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.Navigator{
    margin: 0;
    width: 100vw;
}