Form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b2b6b600;
    padding: 5vh;
}

.Jumbotron{
    display: flex;
    justify-content: center;
}